.main-chat
  .main-chat__header
    .main-chat__header__box
      .main-chat__header__box__group
        .main-chat__header__box__group__name
          %p
            name
        
        .main-chat__header__box__group__member
          %p
            Member:name
      .main-chat__header__box__edit
        Edit
      
  .main-chat__contents
    .main-chat__contents__group
      .main-chat__contents__group__name-time
        .main-chat__contents__group__name-time__name
          %p
            group
        .main-chat__contents__group__name-time__time
          %p
            time
      .main-chat__contents__group__message
        text
  .main-chat__footer
    .main-chat__footer__text
      .main-chat__footer__text__message
        %input.main-chat__footer__text__message__input{placeholder: "message"}
        %label.main-chat__footer__text__message__img
          <i class="far fa-image"></i>
          %input.main-chat__footer__text__message__img__file{type:"file"}
      %input.main-chat__footer__text__btn{type: "submit" ,value: "Send" }
