.main-chat
  .main-chat__header
    .main-chat__header__box
      .main-chat__header__box__group
        .main-chat__header__box__group__name
          %p
            name
        
        .main-chat__header__box__group__member
          %p
            Member:name
      .main-chat__header__box__edit
        Edit
      
  .main-chat__contents
    .main-chat__contents__group
      .main-chat__contents__group__name
        group
      .main-chat__contents__group__message
        text