.side-chat
  .side-chat__header
    .side-chat__header__box
      %p.side-chat__header__box__name
        name
      %ul.side-chat__header__box__menu
        %li.side-chat__header__box__menu__new-group
          = link_to "#", class: "side-chat__header__box__menu__new-group__btn" do
            %i.far.fa-edit
            %span<>
        %li.side-chat__header__box__menu__setting
          = link_to "#", class: "side-chat__header__box__menu__setting__btn" do
            %i.fas.fa-cog
            %span<>
  .side-chat__contents
    .side-chat__contents__group
      .side-chat__contents__group__name
        group
      .side-chat__contents__group__message
        text