.wrapper{
  display: flex;
}

.side-chat{
  height: 100%;
  width: 300px;
  &__header{
    height: 100px;
    padding: 0 20px;
    background-color: #253141;
    &__box{
      padding-top: 35px;
      font-size: 16px;
      color: #FFFFFF;
      display: flex; justify-content: space-between;
      &__name{  
        font-weight: bold;
      }
      &__menu{
        display: flex;
        a:visited { color:#FFFFFF; text-decoration:none }
      }
    }
  }

  &__contents{
    height: calc(100vh - 100px);
    padding: 0 20px;
    background-color: #2f3e51;
    &__group{
      padding: 20px 0;
      height: 31px;
      color: #FFFFFF;
      font-weight: bold;
      &__name{
        font-size: 15px;
      }
      &__message{
        padding-top: 5px;
        font-size: 11px;
      }
    }
  }
}

.main-chat{
  height: 100%;
  width: calc(100vw - 300px);
  &__header{
    height: 99px;
    padding: 0 40px;
    border-bottom: solid 1px #eeeeee;
    &__box{
      display: flex; justify-content: space-between;
      &__group{
        &__name{
          padding-top: 35px;
          font-size: 20px;
          color: #333333;
        }
        &__member{
          padding-top: 15px;
          font-size: 12px;
          color: #999999;
        }
      }
      &__edit{
        color: cornflowerblue;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 28px;
        border: solid 1px cornflowerblue;
      }
    }
  }

  &__contents{
    height: calc(100vh - 100px - 46px - 80px);
    padding: 46px 40px 0;
    background-color: #fafafa;
    &__group{
      color: #434A54;
      &__name-time{
        padding-bottom: 10px;
        display: flex;
        &__name{
          font-size: 16px;
          font-weight: bold;
        }
        &__time{
          font-size: 12px;
          margin-left: 10px;
          color: #999999;
        }
      }  
      &__message{
        font-size: 14px;
        padding-bottom: 40px;
      }
    }
  }

  &__footer{
    height: 50px;
    padding: 15px 40px;
    background-color: #D6D6D6;
    &__text{
      margin: 0 auto;
      display: flex;
      &__message{
        height: 50px;
        width: 100%;
        background-color: white;
        display: flex; justify-content: space-between;
        &__input{
          width: 100%;
          padding: 10px;
          border-style: none;
        }
        &__img{
          margin: 10px;
          font-size: 22px;
          a:visited { color: black; text-decoration:none }
        }
      }
      &__btn{
        height: 50px;
        line-height: 50px;
        margin-left: 15px;
        padding: 0 30px;
        color: white;
        background-color: #38AEF0;
      }
    }
  }
}